<template>
  <div class="add-visitor">
    <v-container>
      <div class="title">Visitors management</div>
      <v-row>
        <v-col cols="12">Currently are {{visitors.length}} visitors in the system</v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="newVisitorName"
            :rules="[validateVisitorName]"
            :counter="20"
            required
            label="Visitor name"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-select v-model="selectedService" :items="servicesList" label="Chosen service"></v-select>
        </v-col>
      </v-row>
      <v-btn class="mt-3" color="primary" @click="addVisitor">Add visitor</v-btn>
    </v-container>
  </div>
</template>

<script>
/*eslint no-console: ["error", { allow: ["log", "warn", "error"] }] */
import waitingQueue from "../services/waiting-queue";
import services from "../services/services";

export default {
  data() {
    return {
      newVisitorName: "",
      selectedService: null,
      formValid: false,
      visitors: [],
      services: []
    };
  },

  computed: {
    servicesList() {
      return this.services.map(item => {
        return { text: item.name, value: item.id };
      });
    }
  },

  created() {
    this.visitors = waitingQueue.getAll();
    this.services = services.getAll();
    this.setInitialService();
  },

  methods: {
    addVisitor() {
      this.formValid =
        true === this.validateVisitorName(this.newVisitorName) &&
        "undefined" !== typeof this.selectedService;

      if (this.formValid) {
        console.log("form was valid");
        waitingQueue.add(this.newVisitorName, this.selectedService);

        this.$nextTick(() => {
          this.newVisitorName = "";
          this.setInitialService();
        });
      }
    },

    validateVisitorName(val) {
      if (val === "") {
        return false;
      } else {
        return val.length > 6 ? true : "Name is too short";
      }
    },

    setInitialService() {
      if (this.services) {
        this.selectedService = this.services[0].id;
      } else {
        this.selectedService = null;
      }
    }
  }
};
</script>