<template>
  <div class="add-service">
    <v-container>
      <div class="title">Services management</div>
      <v-row>
        <v-col>
          <service-base v-for="(item, index) in services" :key="`service${index}`" :service="item" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="newService.name"
            :rules="[validateServiceName]"
            :counter="20"
            required
            label="Service name"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-range-slider
            v-model="newService.range"
            :max="servicesMax"
            :min="servicesMin"
            :color="newService.color"
            :rules="[validateServiceRange]"
            class="align-center"
          >
            <template v-slot:prepend>
              <v-text-field
                v-model="newService.range[0]"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 60px"
              ></v-text-field>
            </template>
            <template v-slot:append>
              <v-text-field
                v-model="newService.range[1]"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 60px"
              ></v-text-field>
            </template>
          </v-range-slider>
        </v-col>
      </v-row>
      <v-btn class="mt-3" color="primary" @click="addService">Add service</v-btn>
    </v-container>
  </div>
</template>
<script>
/*eslint no-console: ["error", { allow: ["warn", "error"] }] */
import services from "../services/services";
import serviceBase from "./service-base";
export default {
  components: {
    "service-base": serviceBase
  },

  data() {
    return {
      services: [],
      newService: {
        name: "",
        range: [null, null],
        color: "blue"
      },
      servicesMin: null,
      servicesMax: null,
      formValid: false
    };
  },

  created() {
    this.services = services.getAll();
    this.setRangeFromLastService();
    this.servicesMin = services.getMin();
    this.servicesMax = services.getMax();
  },

  methods: {
    addService() {
      this.formValid =
        true === this.validateServiceName(this.newService.name) &&
        true === this.validateServiceRange(this.newService.range);

      if (this.formValid) {
        let name, range;
        ({ name, range } = this.newService);
        services.add(name, range[0], range[1]);
        this.$nextTick(() => {
          this.newService.name = "";
          this.setRangeFromLastService();
          this.formValid = false;
        });
      }
    },

    validateServiceName(val) {
      if (val === "") {
        return false;
      } else {
        return val.length > 3 ? true : "Name is too short";
      }
    },

    validateServiceRange(val) {
      // todo val - to check for proper values for avalable intervals

      let lastService = this.getRangeFromLastService();
      if (
        val[0] > this.servicesMin &&
        val[1] < this.servicesMax &&
        val[0] != val[1] &&
        val[0] > lastService.rangeStart
      ) {
        this.newService.color = "indigo darken-3";
        return true;
      } else {
        this.newService.color = "red darken-3";
        return false;
      }
    },

    getRangeFromLastService() {
      return this.services[this.services.length - 1];
    },

    setRangeFromLastService() {
      let lastService = this.getRangeFromLastService();
      this.newService.range = [
        lastService.rangeEnd + 1,
        lastService.rangeEnd + 51
      ];
    },

    isBetween(x, min, max) {
      return x >= min && x <= max;
    }
  }
};
</script>