<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item @click="setActivePageComponent('admin')">
          <v-list-item-action>
            <v-icon>mdi-pencil-box-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content class="text-justify">
            <v-list-item-title>Admin</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="setActivePageComponent('dashboard')">
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content class="text-justify">
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="setActivePageComponent('service')">
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content class="text-justify">
            <v-list-item-title>Service</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="setActivePageComponent('visitor')">
          <v-list-item-action>
            <v-icon>mdi-information-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content class="text-justify">
            <v-list-item-title>Visitor info</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>{{activePageComponent.title}}</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col class="text-center">
            <component :is="activePageComponent.component" />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import pageAdmin from "./page-admin.vue";
import pageDashboard from "./page-dashboard.vue";
import pageService from "./page-service.vue";
import pageVisitor from "./page-visitor.vue";

export default {
  components: {
    "page-admin": pageAdmin,
    "page-dashboard": pageDashboard,
    "page-service": pageService,
    "page-visitor": pageVisitor
  },

  data: () => ({
    drawer: false,
    activePageComponent: {},
    pageComponents: [
      { id: "admin", title: "Administration", component: "page-admin" },
      {
        id: "dashboard",
        title: "Queue dashboard",
        component: "page-dashboard"
      },
      { id: "service", title: "Visitor service", component: "page-service" },
      { id: "visitor", title: "Visitor info", component: "page-visitor" }
    ]
  }),

  created() {
    this.setActivePageComponent("admin");
  },

  methods: {
    setActivePageComponent($value) {
      let [component] = this.pageComponents.filter(
        component => component.id === $value
      );
      this.activePageComponent = component;
      this.drawer = false;
    }
  }
};
</script>
