<template>
  <div class="page-admin">
    <v-container>
      <v-row no-gutters>
        <v-col lg="6" align="start" justify="start">
          <add-service />
        </v-col>
        <v-col lg="6" align="start" justify="start">
          <add-visitor />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import addService from "./add-service";
import addVisitor from "./add-visitor";
export default {
  components: {
    "add-service": addService,
    "add-visitor": addVisitor
  }
};
</script>