<template>
  <div class="page-dashboard">
    <div class="queue-wrapper">
      <queue-base
        v-for="(queue, index) in queues"
        :items="queue"
        :title="services[index].name"
        :key="`queue-${index}`"
      />
    </div>
  </div>
</template>

<script>
import queueBase from "./queue-base";
import waitingQueue from "../services/waiting-queue";

export default {
  components: {
    "queue-base": queueBase
  },

  data() {
    return {
      queues: [],
      services: []
    };
  },

  created() {
    this.queues = waitingQueue.getServiceQueues();
    this.services = waitingQueue.getServices();
  }
};
</script>

<style lang="scss">
.queue-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
</style>