<template>
  <div class="queue-base">
    <v-card class="queue-base__card" outlined>
      <v-card-subtitle class="text-left">QUEUE</v-card-subtitle>
      <v-card-title class="headline text-center">{{title}}</v-card-title>
      <v-list-item v-for="item in items" :key="item.id">
        <v-list-item-content>
          <v-list-item-title class="headline font-weight-black text-center">{{item.id}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["items", "title"]
};
</script>

<style lang="scss">
.queue-base {
  flex: 0 0 auto;

  &__card {
    margin: 15px;
    width: 300px;
  }
}
</style>