<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title>{{service.name}}</v-list-item-title>
      <v-list-item-subtitle>Range: {{service.rangeStart}} - {{service.rangeEnd}}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>
<script>
export default {
  props: ["service"]
};
</script>