<template>
  <div id="app">
    <layout-base />
  </div>
</template>

<script>
import layoutBase from "./components/layout-base";
export default {
  name: "app",
  components: {
    layoutBase
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
